@{
    ViewBag.Title = "Video-Call";
}
<head>
</head>
<body>
    <div class="container-fluid no-padding-container height-100-vh">
  <div class="row height-100-parent">
    <div class="col-xs-3 active-user-list">
        <div class="list-group">
            <div class="list-group-item users-online-card"><h2>Users Online</h3></div>
            <div id="activeUsersList">

            </div>
          </div>
    </div>
    <div class="col-xs-9 height-100-parent">
        <div class="bd-highlight height-100-parent" id="vid">
            <video class="video-large height-100-parent" id="received_video" autoplay>
            </video>
            <video class="video-small" id="vid-small" autoplay muted></video>
            @* <button type="button" id="hangup-button" class="btn btn-primary" disabled></button> *@
        </div>
    </div>
  </div>
</div>
</body>
@section variables{
    <script type="text/javascript">
            var UserName = '@ViewBag.UserName';
    </script>
}
@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/videoCallClient.js"></script>
}
