@{
    ViewBag.Title = "Home Page";
    ViewBag.UserId = "3";
}

<form method="post" action="/Home/About/@ViewBag.UserId">
  <div class="form-group">
    <label for="userName">User Name</label>
    <input  name="UserName" type="text" class="form-control" id="UserName"  placeholder="Enter User Name">
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>